<%- include("partials/header.ejs")%>



  
<div class="container py-2">
  <form>
   
    <h1 class="h3 mb-3 fw-normal">Contact Us!</h1>

    <div class="form-floating py-3">
      <label for="floatingInput">Email address</label>
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      
    </div>

    <div class="form-floating py-3">
      <label for="floatingPassword">Phone Number</label>
      <input type="number" class="form-control" id="floatingPassword" placeholder="123456">
      
    </div>

    <div class="mb-3 py-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <button class="btn btn-success w-100 py-2" type="submit">Submit</button>


  </form>
</div>









<%- include("partials/footer.ejs")%>